body{
  background: #F0F0F5 url("../assets/img/github.svg") no-repeat 70% top ;
  -webkit-font-smoothing: antialiased;
}

body, input, button{
  font: 16px sans-serif;
}

button {
  cursor: pointer;
}
